ul {
list-style-type: none;
}

.caracteristiques{
	display: flex;
	justify-content: center;
	padding-top: 60px;

}

.couleur, .taille{
	width: 30%;
}

#teddylist img{
	width: 15%;
}

#teddychoisie img{
	width: 25%;
}

#resume img{
	width: 30%;
}
